<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <!-------------TOP NAVBAR---------->
 <section id="topbar">
  <div class="row">
     <div class="col-md-12 col-sm-12 col-lg-12">
       <i class="fa fa-envelope-o" id="mail-icon"></i> <a class="mailid">contact@example.com</a>
       <i class="fa fa-phone" id="phone-icon"></i> +1 5589 55488 55
       <i class="fa fa-twitter" id="twitter-icon"></i>
       <i class="fa fa-facebook" id="facebook-icon"></i>
       <i class="fa fa-instagram" id="instagram-icon"></i>
       <i class="fa fa-google-plus" id="google-icon"></i>
       <i class="fa fa-linkedin" id="linkedin-icon"></i>
     </div>    
  </div>
 </section>
   <!-------------HEADER------------------------> 
   <header>
      <input type="checkbox" id="check">
      <label for="check" id="menubar-icon">
         <i class="fa fa-bars"></i>
      </label>
      <label class="logo"><b id="slider-head-01">TECH</b>SOFT</label>
      <ul>
         <li><a  href="#anchor1" class="active">Home</a></li>
         <li><a  href="#container-fluid" class="unactive" id="tag-2">About Us</a></li>
         <li><a  href="#"class="unactive" id="tag-3">Services</a></li>
         <li><a  href="#"class="unactive" id="tag-4">Portofolio</a></li>
         <li><a  href="#"class="unactive" id="tag-5">Team</a></li>
         <li><a  href="#"class="unactive" id="tag-6">Drop Down</a>&nbsp;<i class="fa fa-angle-down"></i></li>
         <li><a  href="#"class="active" id="tag-7">Contact</a></li>
      </ul>
</header>
<!-----------SLIDER------------------->
<div class="slider">
  <div class="container">
     <h1 class="slider-head-1">Making<span class="slider-head-001">your ideas</span></h1>
     <h1 class="slider-head-2">happen</h1>
     <button class="slider-button-1">Get Started</button>
     <button class="slider-button-2">Our Project</button>
  </div>
</div>
<!-------section one--------->
<div class="container-fluid" id="sections">
  
  <div class="row">
       <div class="col-md-6 col-sm-6 col-xs-12" >

       <div id="about-left"></div>

        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="about-right">
              <h2 class="about-head-2">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
              <h4 class="about-head-4">Excepteur sint occaecat cupidatat non proident, sunt
              in culpa qui official deserunt mollit anim id est laborum.
              </h4>
              <ul id="about-list">
              <li><i class="fa fa-check" id="about-icon"></i>
                 Ullamco laboris nisi ut aliquip ex ea commoda consequat
              </li><br>
              <li> <i class="fa fa-check" id="about-icon"></i>
                 Duis aute irure dolor in reprehenderit in voluptate velit.
              </li><br>
              <li><i class="fa fa-check" id="about-icon"></i>
                 Ullamco laboris nisi ut aliquip ex ea commoda consequat.
                 Duis aute irure dolor in reprehenderit in voluptate trideta 
                 storacalaperda mastiro dolore eu fuhgiat nulla pariatur.
              </li>
             </ul>
             </div>
        </div>
  </div>   
</div>
<!--SERVICE-->
<div class="Services">
  <div class="row">
     <div class="col-md-12 col-sm-12 col-lg-12">
        <h1 class="service-head-1">SERVICES</h1>
        <div class="border1"></div>
        <p class="service-para-1">
           Sed tamen tempor magna labore dolore dolor sint tempor duis magna 
           elit veniam aliqua esse amet veniam nim export qiud qiud veniam 
           aliqua eram noster malis nulla dius fugiat dulpa esse aute nulla 
           ipsum velit export irure minim illum fore 
        </p>
     </div>
  </div>
  <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-12" id="service-blog-01">
          <div class="service-blog-1">
           <i class="fa fa-bar-chart" id="bar-chart-icon"></i>
               <h3 class="service-head-2"> Lorem Ipsum</h3>
               <p class="service-para-2">
                  Voluptatum deleniti atque corrupti quos dolores et quas molestias
                  execepturi sint occaecati cupidatate non provident etrio rabeta lingo
               </p>
          </div>
         </div>
        <div class="col-md-6 col-sm-6 col-xs-12" id="service-blog-02">
            <div class="service-blog-2">
              <i class="fa fa-picture-o" id="photo-icon"></i>
               <h3 class="service-head-2">Lorem Ipsum</h3>
               <p class="service-para-2">
                  Voluptatum deleniti atque corrupti quos dolores et quas molestias
                  execepturi sint occaecati cupidatate non provident etrio rabeta lingo
               </p>
          </div>
        </div>
  </div>
  <div class="row">
     <div class="col-md-6 col-sm-6 col-xs-12" id="service-blog-03">
      <div class="service-blog-3">
        <i class="fa fa-shopping-bag" id="bar-chart-icon"></i>
           <h3 class="service-head-2"> Lorem Ipsum</h3>
           <p class="service-para-2">
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              execepturi sint occaecati cupidatate non provident etrio rabeta lingo
           </p>
      </div>
     </div>
    <div class="col-md-6 col-sm-6 col-xs-12" id="service-blog-04">
        <div class="service-blog-4">
           <i class="fa fa-map" id="map-icon"></i>
           <h3 class="service-head-2">Lorem Ipsum</h3>
           <p class="service-para-2">
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              execepturi sint occaecati cupidatate non provident etrio rabeta lingo
           </p>
      </div>
    </div>
</div>
</div> 
<!---------SLIDER------------>
<div class="container-fluid" id="slider-bg">

</div>
<!--portfolio--->
<div class="portfolio">
   <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
         <h1 class="portfolio-head-1">OUR PORTFOLIO</h1>
         <div class="border1"></div>
         <p class="portfolio-para-1">
            Sed tamen tempor magna labore dolore dolor sint tempor duis magna 
            elit veniam aliqua esse amet veniam nim export qiud qiud veniam 
            aliqua eram noster malis nulla dius fugiat dulpa esse aute nulla 
            ipsum velit export irure minim illum fore 
         </p>
      </div>
   </div>
  
   <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12" id="portfolio-blog-1">
         <div class="">
            <h1 class="port-head-1">Portfolio</h1>
            <h1 class="port-head-2">Item 1</h1>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12" id="portfolio-blog-2">
         <div class="">
            <h1 class="port-head-1">Portfolio</h1>
            <h1 class="port-head-2">Item 2</h1>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12" id="portfolio-blog-3">
         <div class="">
            <h1 class="port-head-1">Portfolio</h1>
            <h1 class="port-head-2">Item 3</h1>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12" id="portfolio-blog-4">
         <div class="">
            <h1 class="port-head-1">Portfolio</h1>
            <h1 class="port-head-2">Item 4</h1>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12" id="portfolio-blog-5">
         <div class="">
            <h1 class="port-head-1">Portfolio</h1>
            <h1 class="port-head-2">Item 5</h1>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12" id="portfolio-blog-6">
         <div class="">
            <h1 class="port-head-1">Portfolio</h1>
            <h1 class="port-head-2">Item 6</h1>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12" id="portfolio-blog-7">
         <div class="">
            <h1 class="port-head-1">Portfolio</h1>
            <h1 class="port-head-2">Item 7</h1>
         </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12" id="portfolio-blog-8">
         <div class="">
            <h1 class="port-head-1">Portfolio</h1>
            <h1 class="port-head-2">Item 8</h1>
         </div>
      </div>

   </div>
</div>

<!-----testimonial-->
<div class="testimonial">
   <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
         <h1 class="testimonial-head-1">OUR LEADERSHIP</h1>
         <div class="border1"></div>
         <p class="testimonial-para-1">
            Sed tamen tempor magna labore dolore dolor sint tempor duis magna 
            elit veniam aliqua esse amet veniam nim export qiud qiud veniam 
            aliqua eram noster malis nulla dius fugiat dulpa esse aute nulla 
            ipsum velit export irure minim illum fore 
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="test-blog-1">
          <p><i class="fa fa-quote-left" id="quote-icon"></i>Proin iaculis purus consequat sem cure 
            digni ssim donec porttitora entum suscipit rhoncus.Accusantium quam, ultricies eget id,
             aliquam eget nibh et. Maecen aliquam, risus at semper. 
             <i class="fa fa-quote-right" id="quote-icon"></i> 
           </p>  
             <img src="/assets/image/testimonial.jpg" id="testimonial-img-1">
             <h4>Saul Goodman</h4>
             <h5>Ceo&Founder</h5>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="test-blog-2">
          <p><i class="fa fa-quote-left" id="quote-icon"></i>Proin iaculis purus consequat sem cure 
            digni ssim donec porttitora entum suscipit rhoncus.Accusantium quam, ultricies eget id,
             aliquam eget nibh et. Maecen aliquam, risus at semper. 
             <i class="fa fa-quote-right" id="quote-icon"></i> 
           </p>  
             <img src="/assets/image/testimonial-2.jpg" id="testimonial-img-2">
             <h4>Sara Wilsson</h4>
             <h5>Designer</h5>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="test-blog-3">
          <p><i class="fa fa-quote-left" id="quote-icon"></i>Proin iaculis purus consequat sem cure 
            digni ssim donec porttitora entum suscipit rhoncus.Accusantium quam, ultricies eget id,
             aliquam eget nibh et. Maecen aliquam, risus at semper. 
             <i class="fa fa-quote-right" id="quote-icon"></i> 
           </p>  
             <img src="/assets/image/testimonial-3.jpg" id="testimonial-img-3">
             <h4>Jena Karlis</h4>
             <h5>Store Owner</h5>
         </div>
      </div>
   </div>
   
</div> 
 <!--SECTION SIX-->
 <div class="subscribe">
   <h1 class="w3-text-white" id="head-6">Welcome To Our Bussiness</h1>
   <p id="paragraph">Busuness Lorem ipsum dolor sit amet, consectetur adipiscing elit.luctus est eget congue</p>
   <input type="email" class="email" placeholder="email">
   <button class="subscribe-button">subscribe</button>
 
</div>
<!--SECTION SEVEN-->
<div class="team"> 
       
   <div class="row" id="rows">
       
       <div class="col-md-12 col-sm-12 col-xs-12"id="headline"> 
           <div class="section-headline text-center">    
           <h2>Our Special Team</h2>
           </div>
       </div>
       <div class="col-md-3 col-sm-3 col-xs-12">
           <div class="card1">
               <h6>Suzan Mickel</h6>
               <p id="card-para">Soe</p>
            </div> 
       </div>
       <div class="col-md-3 col-sm-3 col-xs-12">
           <div class="card2">
               <h6>Andrew Arnold</h6>
               <p id="card-para">Web Developer</p>
           </div>  
       </div>
       <div class="col-md-3 col-sm-3 col-xs-12">
           <div class="card3">
               <h6>Lellien Linda</h6>
               <p id="card-para">Web Design</p>
           </div> 
       </div>
       <div class="col-md-3 col-sm-3 col-xs-12">
           <div class="card4" id="cardspaces">
               <h6>Jhon Powel</h6>
               <p id="card-para">Seo Expert</p>
           </div>
       </div>

   </div>    
</div>
<!--contact--->
<div class="contact"  id="anchor7">
   <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
         <h1 class="contact-head-1">CONTACT US</h1>
         <div class="border1"></div>
         <p class="contact-para-1">
            Sed tamen tempor magna labore dolore dolor sint tempor duis magna 
            elit veniam aliqua esse amet veniam nim export qiud qiud veniam 
            aliqua eram noster malis nulla dius fugiat dulpa esse aute nulla 
            ipsum velit export irure minim illum fore 
         </p>
      </div>
   </div> 
   <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="contact-blog-1">
            <i class="fa fa-map-marker" id="marker-icon"></i>
            <h3 class="call-head-2">ADDRESS</h3>
            <h5 class="call-head-3">A108 Adam Street,NY 535022, USA</h5>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="contact-blog-2">
            <i class="fa fa-phone" id="phone-icon-1"></i>
            <h3 class="call-head-4">PHONE NUMBER</h3>
            <h5 class="call-head-5">+1 5589 55488 55</h5>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="contact-blog-3">
            <i class="fa fa-envelope-o" id="email-icon-1"></i>
            <h3 class="call-head-6">EMAIL</h3>
            <h5 class="call-head-7">info@example.com</h5>
         </div>
      </div>
   </div> 
</div> 
  
<!-----location----->
<div class="map">
   <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.305935303!2d-74.25986548248684!3d40.69714941932609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1621864934125!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
   </div>
</div>  
<!-------form-->
<div class="container" >
   
   <form #myForm="ngForm">
         
    <div class="form-group">
          
      <input type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Your Name" name="name"[(ngModel)]="userObj.name" #name="ngModel" required>
      <span class="help-block" *ngIf="!name.valid&&name.touched">Please enter your name</span>
    </div>  
         
    <div class="form-group">
      
           <input type="email" class="form-control" id="ebtn" aria-describedby="emailHelp" placeholder="Your email" name="email"[(ngModel)]="userObj.email" #email="ngModel" required>
           <span class="help-block" *ngIf="!email.valid&&email.touched">Please enter the valid mailid</span>
         </div>
    
         <div class="form-group">
         
           <input type="number" class="form-control" id="number" placeholder="Your Number" name="number"[(ngModel)]="userObj.number" #number="ngModel" required>
           <span class="help-block" *ngIf="!number.valid&&number.touched" id="numberspan">Please enter the number</span>
         </div>
         <div class="form-group">
         
          <input type="text" class="form-control" id="message" placeholder="Your Message" name="message"[(ngModel)]="userObj.message" #message="ngModel" required>
          <span class="help-block" *ngIf="!message.valid&&message.touched">Please enter the message</span>
        </div>
         <button type="submit" class="btn btn-dark" *ngIf="!isedit" id="submitbutton" (click)="adddata(myForm.value)">Submit</button><br>
   </form>
   </div>
 
<!-------footer-->
<footer>
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="section-headline text-center">
<p style="color:white">Copyright Reserved</p>
</div>
</div>
</footer>
</body>
</html>